// overwrite defaults in sanitize.styl
root-box-sizing = border-box;
root-font-family = 'Lato', 'Open Sans', sans-serif;
root-color = #292F36;

// nib defaults
flex-version = flex;
support-for-ie = false;
vendor-prefixes = official;

introBg = #1E1E20;

@import '../../node_modules/sanitize.css/lib/sanitize.styl';
@import 'nib';
@import '_helpers';
@import '_sections';
@import '_loading';
@import '_intro';
@import '_responsive';

html, body {
  width: 100%;
  min-height: 100%;
  background: #f0f0f0;
  overflow-x: hidden;
}

.wrapper {
  size: 960px 100%;
  margin: auto;
  z-index: 14;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .wrapper {
    width: 100%;
    padding-top: 0;
  }
}
